@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto py-2 px-2 sm:px-5;
  }
  .divider {
    @apply border-t
  }
  .button-primary {
    @apply bg-[#523996] text-white py-3 px-2 rounded-full w-28 text-xs font-semibold
  }
  .card-border {
    @apply border
  }
}

.ida_icon {
  /* border: solid red; */
  background-image: url(/interactive-design-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.circle-pattern {
  background-image: url(/circle-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  place-items: center;
}
